<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="static/favicon.png">
    <title>News Categorization</title>
</head>

<body>
    <div class="main-container">
        <h1 class="text-center">Classify News Article 📰</h1>
        <div class="container" id="form">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="text"><strong>Text to Classify:</strong></label>
                        <textarea class="form-control" id="text" aria-describedby="textHelp"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="mb-1"><strong>Select Model(s):</strong></div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="model-checkbox" value="linear_svc" id="check-linear_svc" checked>
                            <label class="form-check-label" for="check-linear_svc">Linear Support Vector Classifier</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="model-checkbox" value="multinomial_nb" id="check-multinomial_nb" checked>
                            <label class="form-check-label" for="check-multinomial_nb">Multinomial Naive Bayes Classifer</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="model-checkbox" value="softmax" id="check-softmax" checked>
                            <label class="form-check-label" for="check-softmax">Softmax</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="model-checkbox" value="mlp" id="check-mlp" checked>
                            <label class="form-check-label" for="check-mlp">Multilayer Perceptron</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="model-checkbox" value="cnn_ykim" id="check-cnn_ykim" checked>
                            <label class="form-check-label" for="check-cnn_ykim">Y. Kim CNN</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="model-checkbox" value="cnn_fchollet" id="check-cnn_fchollet" checked>
                            <label class="form-check-label" for="check-cnn_fchollet">F. Chollet CNN</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="model-checkbox" value="gcnn_chebyshev" id="check-gcnn_chebyshev" checked>
                            <label class="form-check-label" for="check-gcnn_chebyshev">Graph CNN (Chebyshev)</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="model-checkbox" value="gcnn_spline" id="check-gcnn_spline" checked>
                            <label class="form-check-label" for="check-gcnn_spline">Graph CNN (Spline)</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="model-checkbox" value="gcnn_fourier" id="check-gcnn_fourier" checked>
                            <label class="form-check-label" for="check-gcnn_fourier">Graph CNN (Fourier)</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" id="submit-btn" onclick="submit();">Submit</button>
                </div>
            </div>
        </div>
        <div class="container" id="results-section" style="display: none;">
            <div class="row justify-content-center">
                <div class="col-md-10 col-12" id="results"></div>
            </div>
            <div class="row justify-content-center mt-4 mb-3">
                <div class="col-md-3 col-8">
                    <button type="submit" class="btn btn-warning btn-block" id="clear-btn" onclick="clearResults();">Clear</button>
                </div>
            </div>
        </div>
        <div class="alert alert-primary result" id="result-template">
            <strong>Model Name:</strong> Class Name (Probability %)
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="static/main.js"></script>
</body>

</html>
